<!-- API Docs dropdown -->
<div class="relative group">
  <a href="{% link api-docs.md %}" class="{{site.style.dropdown_button}}">
    <span>API Docs</span>
    {% include icons/chevron-down.svg %}
  </a>
  <div class="{{site.style.dropdown_toggle}}">
    <div class="{{site.style.navbar_dropdown}}">
      <!-- Dropdown pip -->
      <div class="{{site.style.dropdown_pip}}"></div>
      <div class="relative py-1">
        {% for version in site.data.doc_versions.versions %}
          <a href="{{ '/docs/' | append: version | relative_url }}"
              class="{{site.style.dropdown_item}}">
            {% if version == 'main' %}
              Development (main)
            {% else %}
              {{ version }}
            {% endif %}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>