<!-- Guides dropdown -->
<div class="relative group">
  <button
    class="{{site.style.dropdown_button}}">
    <span>Guides</span>
    {% include icons/chevron-down.svg %}
  </button>
  <div class="{{site.style.dropdown_toggle}}">
    <div class="{{site.style.navbar_dropdown}}">
      <!-- Dropdown pip -->
      <div class="{{site.style.dropdown_pip}}"></div>
      <div class="relative py-1">
        {% for page in site.pages %}
          {% if page.url contains '/guides/' and page.url != '/guides/' %}
            <a href="{{ page.url | relative_url }}"
              class="{{site.style.dropdown_item}}">
              {{ page.title | default: page.name | remove: '.md' | titleize }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
