<!-- Guides dropdown -->
<div class="relative group">
  <a href="{% link guides.md %}" class="{{site.style.navbar_link}} flex items-center space-x-1">
    <span>Guides</span>
    {% include icons/chevron-down.svg %}
  </a>
  <div class="{{site.style.dropdown_toggle}}">
    <div class="{{site.style.navbar_dropdown}}">
      <!-- Dropdown pip -->
      <div class="{{site.style.dropdown_pip}}"></div>
      <div class="relative py-1">
        {% assign guides = site.pages | where_exp: "item", "item.path contains 'guides/'" | where_exp: "item", "item.url != '/guides/'" | sort: "title" %}
        {% for guide in guides %}
          <a href="{{ guide.url | relative_url }}" class="{{site.style.dropdown_item}}">
            {{ guide.title | default: guide.name | remove: '.md' | titleize }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>