<!DOCTYPE html>
<html lang="en"{% if layout.html_class %} class="{{ layout.html_class }}"{% endif %}>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-96x96.png' | relative_url }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicons/favicon.svg' | relative_url }}" />
  <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | relative_url }}" />
  <meta name="apple-mobile-web-app-title" content="ElasticGraph" />
  <link rel="manifest" href="{{ '/assets/favicons/site.webmanifest' | relative_url }}" />

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/highlight.css' | relative_url }}">
  <script>
    // Theme toggle functionality
    function initTheme() {
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.setAttribute('data-theme', 'dark');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
      }
    }

    // Initialize theme on page load
    initTheme();

    function toggleTheme() {
      if (document.documentElement.getAttribute('data-theme') === 'dark') {
        document.documentElement.setAttribute('data-theme', 'light');
        localStorage.setItem('theme', 'light');
      } else {
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
      }
    }

    function copyToClipboard(button, text) {
      navigator.clipboard.writeText(text).then(() => {
        const message = button.parentElement.querySelector('[data-copy-message]');
        message.classList.remove('hidden');
        setTimeout(() => {
          message.classList.add('hidden');
        }, 2000);
      });
    }
  </script>
  {% if layout.use_anchor_headings %}
  <script src="{{ '/assets/js/anchor-headings.js' | relative_url }}" defer></script>
  {% endif %}
</head>

<body class="{{ site.style.body }}">
  {% include navbar.html %}
  {{ content }}
  {% include footer.html %}
</body>

</html>
